/* Estilo geral da aplicação */
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", sans-serif;
  background-color: #f2f2f7;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.App-header {
  width: 100%;
  background-color: #1d1d1f; /* Fundo preto */
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  width: 100%;
  gap: 2%
}

.App-logo {
  width: 50px; /* Logo proporcionalmente pequena */
  height: 50px;
  margin-right: 10px; /* Espaçamento entre logo e links */
}

.tab-link {
  font-size: 14px; /* Menor tamanho de texto */
  color: #57575B; /* Texto cinza */
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.8px; /* Menor espaçamento de letras */
  transition: color 0.3s ease;
}

.tab-link.active {
  color: white; /* Azul Apple */
}

.tab-link:hover {
  color: white; /* Azul Apple */
}

/* Corpo principal */
.App-main {
  margin-top: 80px; /* Ajusta o espaçamento para a navbar mais baixa */
  padding: 20px;
  text-align: center;
  color: #1D1D1F;
}

/* Seção de conteúdo */
.App-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 20px auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .App-header {
    padding: 15px 0;
  }

  .App-logo {
    width: 2px;
    height: 2px;
  }

  .tabs-container {
    gap: 15px; /* Menor espaçamento ainda */
  }

  .tab-link {
    font-size: 12px;
  }

  .App-main {
    margin-top: 70px;
  }
}
